.trend-swiper {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #161a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.trend-slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
}

.trend-heading {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  margin-left: 43px;
}

.trend-slider-wrapper {
  overflow: hidden;
  margin: 0 40px;
}

.trend-slider {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.trend-slide-group {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0rem;
  padding: 0 1rem;
}

.trend-card {
  border-radius: 8px;
  padding: 40px 40px 0px 40px;
  transition: all 0.3s ease;
}

.trend-card:hover { 
  transform: scale(1.1);
}

.trend-card-image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.trend-card-image {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.trend-card-title {
  position: absolute;
  bottom: -20px;
  left: 5px;
  transform: translateX(-50%);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 6rem;
  text-align: center;
}

.trend-nav-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.trend-nav-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.trend-prev-btn {
  left: 20px;
  background-color: #4e4e4e5b;
  padding: 50px 10px;
  border-radius: 10px;
}

.trend-next-btn {
  right: 20px;
  background-color: #4e4e4e5b;
  padding: 50px 10px;
  border-radius: 10px;
}

.trend-slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.trend-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.trend-dot.trend-active {
  background: white;
  transform: scale(1.5);
}
